
body {
  font-family: 'Montserrat';
  text-align: center;
  height: 45rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat';
  font-weight: bold;
}

p {
  color: grey;
}

/* headings */
.big-heading {
  /* pasting it from h1 since these are specific numerical details*/
  font-size: 3.5rem;
  line-height: 1.5;
  font-weight: 900;
}

.section-heading {
  font-size: 3rem;
  line-height: 1.5;
}


/* Containers */
.container-fluid {
  padding: 17% 20%;
  height: 100%;
}


/* Sections */
.white-section{
background-color: #fff;
}
.colored-section{
  background-color: #0096c7;
  color: white;
  height: 100%
}

/* Navigation Bar */
.navbar {
  padding: 0 0 2.5rem;
}

.navbar-brand {
  font-family: Ubuntu;
  font-weight: bold;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 18px;
}

.nav-link {
  font-size: 1.2rem;
  font-family: "Montserrat";
  font-weight: normal;
}
/* download-button */
.download-button {
  margin: 5% 3% 5% 0;
}



/* Title Section */
#title .container-fluid{
  padding: 3% 9% 7%;
  text-align: center;
  height: 100%;
}

.cta-button {
  margin: 5% 3% 5% 0;
  /* better use same combination of margin here as well that you have used earlier*/
  /* Or you can give these buttons same class name that you gave to previous ones to see the effect directly*
}
